<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

*   Extract information from a given web site
*   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
# Your code here
import pandas as pd
import requests, json 
from bs4 import BeautifulSoup

Download the webpage at the url

In [11]:
#your code goes here
response = requests.get(url)
html = response.content
data = BeautifulSoup(html,'html.parser')

Create a soup object

In [30]:
#your code goes here
parent = data.find('body').find_all('tr')
header_columns = parent[0]
no, language, creator, annual_sal, learning_diff = header_columns.find_all('td')
no = no.get_text()
language = language.get_text()
creator = creator.get_text()
annual_sal = annual_sal.get_text()
learning_diff = learning_diff.get_text()
header_columns = [no,language,creator,annual_sal,learning_diff]
header_columns

['No.',
 'Language',
 'Created By',
 'Average Annual Salary',
 'Learning Difficulty']

In [58]:
rows = []
for x in parent[1:]:
    rows.append(x.find_all('td'))
no = []
languages = []
creators = []
annual_sal = []
learning_diff = []
for x in rows:
    no.append(x[0].get_text())
    languages.append(x[1].get_text())
    creators.append(x[2].get_text())
    annual_sal.append(x[3].get_text())
    learning_diff.append(x[4].get_text())
df = pd.DataFrame([no, languages, creators, annual_sal, learning_diff])
df = df.T
df.columns = header_columns
df.head()

,No.,Language,Created By,Average Annual Salary,Learning Difficulty
0,1,Python,Guido van Rossum,"$114,383",Easy
1,2,Java,James Gosling,"$101,013",Easy
2,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
3,4,Javascript,Netscape,"$110,981",Easy
4,5,Swift,Apple,"$130,801",Easy

Scrape the `Language name` and `annual average salary`.

In [79]:
for x in rows: 
    print(x[1].get_text(),':', x[3].get_text())

Python : $114,383
Java : $101,013
R : $92,037
Javascript : $110,981
Swift : $130,801
C++ : $113,865
C# : $88,726
PHP : $84,727
SQL : $84,793
Go : $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [80]:
# your code goes here
df.to_csv('popular-languages.csv')

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01).